<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="authUrl" value="https://auth.tmup.com"/>
    <add key="edgeUrl" value="https://edge.tmup.com"/>
    <add key="eventUrl" value="https://ev.tmup.com"/>
    <!-- 여기 아래에 인증 정보를 입력해주세요.-->
    <add key="clientId" value="{teamup bot client id}"/>
    <add key="clientSecret" value="{teamup bot client secret}"/>
    <!-- 여기 아래에 봇 계정 정보를 입력해주세요.-->
    <add key="botEmail" value="{teamup bot id}"/>
    <add key="botPassword" value="{teamup bot password}"/>
  </appSettings>
</configuration>